#tabla ,#carrito {

    border: 1px solid;
    border-collapse: collapse;
    background-color: rgb(43, 90, 43);
    color: rgb(196, 196, 196);

}

.prod:hover td{
    background-color: rgb(47, 172, 47);
    
}

.img{
    border-radius: 62px;  
    height: 70px;
}

th ,._name , ._img , .checks{
    text-align: center;
}

td{
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-right: 1px solid;
};

td._price {
    width: 111px;
    text-align: right;
}

input{
    display: inline-block;
}
